/* Universal styles */
:root {
  --font-color: rgba(0, 0, 0, .75);
  --font-family: 'Josefin Sans', sans-serif;
}

* {
  color: var(--font-color);
  margin: 0;
  font-family: var(--font-family);
}

#top {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  display: -webkit-flex;
  display: flex;
  text-align: center;
  -webkit-justify-content: center;
  justify-content: center;
  background: #141414 url(../media/rainier2.jpg);
  background-position: 50%;
  background-size: cover;
}

.hero {
  margin-top: 15%;
  box-sizing: border-box;
}

svg {
  position absolute;
  top 50%;
  margin-top -60px;
  left 50%;
  height: 150px;
  width: 455px;
}

#text {
  font-size: 5em;
}

.header-text {
  font-weight: bold;
  color: black;
}

.small-print {
  font-size: 14px;
  color: black
}

.underline {
  border-bottom: 6px solid #BDE5D3;
}

.section {
  margin: 40px auto;
  max-width: 850px;
  box-sizing: border-box;
}

hr {
  border-bottom: 6px solid #BDE5D3;
  width: 150px;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 0 auto;
  justify-content: center;
}

.flex.nowrap {
  flex-wrap: nowrap;
}

.photo img {
  height: 11em;
  width: 11em;
  margin-right: 30px;
  border-radius: 50%;
}

.about-item {
  flex-grow: 1;
}

/* Portfolio Styles */

.portfolio-item {
  text-align: center;
}

.portfolio-rect {
  display: flex;
  height: 200px;
  margin: 10px;
  width: 400px;
  flex-grow: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  color: #fff;
  background: #000000;
  text-align: center;
}

.portfolio-rect img {
  width: 100%;
}

.portfolio-rect.blackjack, .portfolio-rect.wanderlist, .portfolio-rect.inthesound, .portfolio-rect.jukebox {
  background-position: 50% 50%;
  opacity: .8;
} 

.portfolio-rect * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
  
.portfolio-rect .portfolio-text {
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.portfolio-rect h2 {
  color: white;
  left: 0;
  right: 0;
  letter-spacing: -1px;
  margin: 0 auto;
  position: absolute;
  text-transform: uppercase;
  bottom: 50%;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}

.portfolio-rect p {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  opacity: 0;
  font-size: 16px;
  -webkit-transform: translateY(-20%) scale(0.7);
  transform: translateY(-20%) scale(0.7);
}
.portfolio-rect .portfolio-text {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  -webkit-transform: rotate(360deg) translate(-50%, -50%);
  transform: rotate(360deg) translate(-50%, -50%);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.portfolio-rect .portfolio-text:before,
.portfolio-rect .portfolio-text:after,
.portfolio-rect .portfolio-text div:before,
.portfolio-rect .portfolio-text div:after {
  background-color: #ffffff;
  position: absolute;
  content: "";
  display: block;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.portfolio-rect .portfolio-text:before,
.portfolio-rect .portfolio-text:after {
  width: 65%;
  height: 2px;
}
.portfolio-rect .portfolio-text div:before,
.portfolio-rect .portfolio-text div:after {
  width: 2px;
  height: 65%;
}
.portfolio-rect .portfolio-text:before,
.portfolio-rect .portfolio-text div:before {
  left: 0;
  top: 0;
}
.portfolio-rect .portfolio-text:after,
.portfolio-rect .portfolio-text div:after {
  bottom: 0;
  right: 0;
}

.portfolio-rect:hover img,
.portfolio-rect.hover img {
  opacity: 0.25;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.portfolio-rect:hover h2,
.portfolio-rect.hover h2 {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}
.portfolio-rect:hover p,
.portfolio-rect.hover p {
  opacity: 1;
  -webkit-transform: translateY(0px) scale(1);
  transform: translateY(0px) scale(1);
}
.portfolio-rect:hover .portfolio-text:before,
.portfolio-rect.hover .portfolio-text:before {
  width: 38%;
}
.portfolio-rect:hover .portfolio-text div:before,
.portfolio-rect.hover .portfolio-text div:before {
  height: 38%;
}
.portfolio-rect:hover .portfolio-text:after,
.portfolio-rect.hover .portfolio-text:after {
  width: 55%;
}
.portfolio-rect:hover .portfolio-text div:after,
.portfolio-rect.hover .portfolio-text div:after {
  height: 55%;
}


a {
  color: rgb(91, 91, 190);
}

a:hover {
  text-decoration: none;
  color: #BDE5D3;
}

a:hover i {
  color: #BDE5D3;
}


/* footer */
footer {
  position: absolute;
  width: 100%;
  margin: 100px 0 0 0;
  padding: 10px;
  text-align: center;
  background-color: #394056;
  font-size: 1em;
  color: white;
}

footer i, .icon-label {
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

footer a:hover .icon-label {
  border-bottom: 2px solid #BDE5D3;
}

.footer-icons {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.contact-title {
  margin: 20px;
}

/* Mobile */
@media all and (max-width: 900px){
  footer {
    width: 100%;
  }
  
  .flex.nowrap {
    flex-wrap: wrap;
  }
  .about-item {
    text-align: center;
  }
  .summary {
    padding: 30px;
  }

  .photo img {
    height: 16em;
    width: 16em;
    margin: 0 auto;
  }
  .portfolio-rect {
    width: 100%;
  }
  
  svg {
    width: 100%;
  }

  #text {
    font-size: 3em;
  }

  .section h3 {
    padding: 10px;
    width: 100%;
  }

}

